input {
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 13px;
}

.demo1 > label::before {
  display: inline-block;
  content:"";
  width:20px;
  height:20px;
  position: absolute;
  border: 2px solid darkgray;
}

.radio_label::before {
  border-radius: 50%;
}

input[type="radio"]:checked + .demo1_radio::before {
  content: "\25CF";
  color:red;
  text-align: center;
  border-color: red;
  line-height: 20px;
}

input[type="checkbox"]:checked + .demo1_checkbox::before {
  content: "\2714";
  color: red;
  text-align: center;
  border-color: red;
  line-height: 20px;
}

.demo2 > label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(http://p1.bqimg.com/567571/99322cf8c3283e42.png) no-repeat;
}

input[type="radio"] + .demo2_radio {
  background-position: -23px -10px;
}

input[type="checkbox"] + .demo2_checkbox {
  background-position: -25px -32px;
}

input[type="radio"]:checked + .demo2_radio {
  background-position: -58px -10px;
}

input[type="checkbox"]:checked + .demo2_checkbox {
  background-position: -60px -32px;
}

